img{
    width: 50vw;
}

.slide{
    display : none;
}

.dot{
    background-color:rgba(0, 0, 0, 0.5);
    height: 1.5em;
    width: 1.5em;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
}

#next{
    position: absolute;
    top:50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    padding: .75em;
}

#previous{
    top:50%;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    padding: .75em;
}

#controls span{
    margin: 0.5em;
}